<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>app</title>
    <meta charset="utf-8">
    <base href="/" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.css">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Qwigley' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/site.css"  />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/ngToast.min.css">
</head>

<body ng-controller="GlobalController as gc" id="body">

    <!-- <header class="navbar navbar-default navbar-fixed-top" role="banner"> -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">

    <nav class="collapse navbar-collapse" role="navigation">

      <div class="row nVb">
                <div class="col-md-12 nV">
                    <ul class="nav nav-pills nVBtns">
                        <li class="custom"><a class="active nvbList" href="index.html">Home</a></li>
                        <li class="custom"><a class="nvbList" href="/resume">Resume</a></li>
                        <li class="custom" ng-hide="gc.status.username !== null"><a class="nvbList" href="/register">Register</a></li>
                        <li class="custom" ng-hide="gc.status.username !== null"><a class="nvbList" href="/login">Login</a></li>
                        <li class="custom"><a class="nvbList" href="/blog">Blog</a></li>
                        <li class="custom"><a class="nvbList" href="/contact">Contact</a></li>
                        <li class="custom" ng-show="gc.status.username !== null"><button id="logOutbtn" ng-click="gc.logout()">Logout</button></li>
                        <li ng-show="gc.status.username !== null" id="logStatus" class="custom nvbList">Logged in as: {{gc.status.username | uppercase }}</li>
                    </ul>
                </div>
            </div>

    </nav>
  </div>
</header>
 </div>
</div>
<div class="container" >
    <div class="row">
        <div class="col-md-12 main">

        </div>
    </div>
</div>



    <toast></toast>
    <ng-view></ng-view>

<!-- NOTE: ScriptS -->
<div>


    <script src="/javascript/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.3/ui-bootstrap.min.js"></script>
    <script src="/javascript/angular-route.min.js"></script>
    <script src="/javascript/angular-resource.min.js"></script>
    <script src="/javascript/angular-sanitize.min.js"></script>
    <script src="/javascript/ngToast.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-colorpicker/3.0.24/js/bootstrap-colorpicker-module.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-rangy.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script src="/javascript/app.js"></script>
    <script src="/javascript/services/HomeService.js"></script>
    <script src="/javascript/services/UserService.js"></script>
    <script src="/javascript/services/BlogService.js"></script>
    <script src="/javascript/services/HTTPFactory.js"></script>
    <script src="/javascript/services/CommentService.js"></script>
    <script src="/javascript/services/ContactService.js"></script>
    <script src="/javascript/services/TagService.js"></script>
    <script src="/javascript/services/ResumeService.js"></script>
    <script src="/javascript/controllers/HomeController.js"></script>
    <script src="/javascript/controllers/UserController.js"></script>
    <script src="/javascript/controllers/GlobalController.js"></script>
    <script src="/javascript/controllers/BlogCreateController.js"></script>
    <script src="/javascript/controllers/BlogController.js"></script>
    <script src="/javascript/controllers/BlogDetailsController.js"></script>
    <script src="/javascript/controllers/BlogUpdateController.js"></script>
    <script src="/javascript/controllers/CommentUpdateController.js"></script>
    <script src="/javascript/controllers/ContactCreateController.js"></script>
    <script src="/javascript/controllers/ResumeController.js"></script>
    <script src="/javascript/controllers/TagCreateController.js"></script>
    <script src="/javascript/controllers/TagDetailsController.js"></script>

</div>
</body>

</html>
