#body{
    background-image: url(/images/citylights.jpeg);
}
.main{
    background-color: lavender;
    height: 1000px;
    position: absolute;
}
.banner{
    height: 10px;
}
#regLbut{
    width:846px;
    margin-right: 291px;
}
#logStatus{
    margin-left: 600px;
    margin-top: 15px;
}
