
<div class="container movedown" id="movedowncomment">
    <div class="row">
        <div class="col-lg-9 form-group">
            <form ng-submit = "vm.update()">
                <label>Update your comment below: </label><br>
                <textarea class="form-control" ng-model = "vm.comment.message" type = "text" placeholder = "comments" rows="3" cols="100"></textarea>
                <br>
                <button type = "submit">Submit changes</button>
            </form>
        </div>
    </div>

</div>
