
<div class="container id="comBody"">
    <div class="row movedown regSign">
        <h2 class="regSign"><span class="animated fadeInLeftBig">Update your comment </span> <span class="animated fadeInRightBig">changes below</span></h2><br>
        <div class="col-lg-9 animated fadeInUp">
            <form role="form" ng-submit = "vm.update()">
                <div class="form-group regSign">
                    <label for="InputName">Comments</label>
                    <div class="input-group">
                        <textarea type="text" ng-model = "vm.comment.message" class="form-control"  id="InputName" placeholder="Comment below" ></textarea>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <div class="">
                        <input type="submit" name="submit" id="submit" value="Submit" class=" regSign btn btn-info pull-right btn-block">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
