
<div class="container contact">


<div class="row ">
    <div class="col-md-8 contact-form animated fadeInUp">
        <form id="contact" ng-submit="vm.createContact()" method="post" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6 form-group">
                    <input class="form-control" id="name" name="name" ng-model="vm.contact.name"  placeholder="Name" type="text" required autofocus />
                </div>
                <div class="col-xs-6 col-md-6 form-group">
                    <input class="form-control" id="email" name="email" ng-model="vm.contact.email" placeholder="Email" type="email" required />
                </div>
            </div>
            <textarea class="form-control" id="message" name="message" ng-model="vm.contact.message" placeholder="Message" rows="5"></textarea>
            <br />
            <div class="row">
                <div class="col-xs-12 col-md-12 form-group">
                    <button class="btn btn-primary pull-right" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-4">
                <h3>Drop me a line!</h3>
                <!-- <hr>
                <address>
                    <strong>Email:</strong> <a href="mailto:#"></a><br><br>
                    <strong>Phone:</strong> (555)123-4567
                </address> -->
            </div>


        </div><!--end container  -->


</div>
</div>
</div>
