<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="outer">

            <div class="row pageTitle"><!-- Page title -->
                <div class="col-md-12">
                    <!-- <h1 class="ptName">Victor Jackson</h1> -->
                </div>
            </div>
            <!-- Page title end  -->



            <!-- about Section  -->
            <div class="row about">
                <div class="col-md-4 picFrame"><br>
                    <!-- <img class="img-responsive pic" src="vicwebpage.jpg" alt="" /> -->

                </div>
                <div class="col-md-8 mySelf"><!-- myself description -->
                    <div class="row">

                        <div class="col-md-8">
                            <h1 class="mainName">Victor Jackson</h1>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row mainB">
                        <div class="col-md-12 mainB1">
                            <h1 class="jobTitle">Fullstack Software Developer</h1>
                        </div>
                    </div>
                    <!-- NOTE: With will one can do anything! -->

                    <div class="row greeting">
                        <div class="col-md-12">
                            <h1 class="welcome"><span class="quote1">"</span><span class="quote2">Welcome,</span><span class="quote3"> thanks for visiting</span><span class="quote4">   !</span><span class="quote5">   "</span></h1>
                        </div>
                    </div>
                </div>
                <!-- end myself description -->
            </div>
            <!--end about section -->

            <!-- synopsis section  -->
            <div class="row synopsis">
                <div class="col-md-4 info">
                    <div class="">
                        <!-- <img class="xyz mouse" src="notebook.jpg" height="300" width="370" alt="" /> -->
                    </div>


                    <!-- <h1 class="infoB">Information</h1>
                    <ul class="contactInfo">
                        <li><span style="color:grey">Name:</span> <span class="infoC" style="font-weight:bold">  Victor Jackson</span></li>
                        <li><span style="color:grey" >Location:</span><br><span class="infoC" style="font-weight:bold">  San Francisco Bay Area</span></li><br>
                        <li><span style="color:grey">Phone:</span> <span class="infoC" style="font-weight:bold">  555-555-5555</span></li><br>
                    </ul> -->
                </div>
                <div class="col-md-6 sum"><!-- summary -->
                    <h1 class="summary">About</h1><br>
                    <p class="summaryP">I am relatively new to the Bay Area having moved out from Denver, Colorado this past spring 2015 where I spent the past 20 years.  I am eager to explore new opportunities in the region. I am an achievement-oriented professional with 15+ years experience in IT leadership. I have a proven track record of managing complex projects and implementing effective process improvements. </p>
                        <p class="summaryP">
                            In my most recent position as Lead Technical Analyst with CenturyLink, I supervised implementation of new technology projects and provided IT expertise in all phases of the Software Development Life Cycle (SDLC). My role included serving as project manager supervising scope development, requirements analysis, project design, QA testing, manpower scheduling, and budgeting. While in this position, I ensured that the migration of technologies regarding the merger between Qwest Communications International and CenturyLink were successfully achieved. I was also responsible for yielding a $10M annual cost savings through development of a new invoice auditing system.
                        </p>
                        <p class="summaryP">
                            I am passionate about what I do and truly enjoy coming to work each day. I am currently seeking a challenging position within a highly-reputable company where I can make a significant positive impact.
                        </p><br>

                        <label><a href="VictorJacksonResume.pdf">Click to see Victor Jackson's Resume</a></label><br><br>

                    </div>
                    <div class="col-md-1">

                    </div>
                    <!-- end summary -->
            </div>
            <!-- end synopsis -->




                    <!-- social media badges -->
                    <!-- <div class="col-md-4 socMedia">
                    <div class="social">
                    <h1 class="letsConnect">Let's Connect</h1>
                    <ul>
                    <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li><span>  Twitter</span><br>
                    <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li><span>  Google+</span><br>
                    <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li><span>  Linkedin</span><br>
                    <li><a href="#"><i class="fa fa-lg fa-stack-overflow"></i></a></li><span>  Stack Overflow</span><br>
                    <li><a href="#"><i class="fa fa-lg fa-github"></i></a></li><span>  Github</span><br>
                    <li><a href="#"><i class="fa fa-lg fa-instagram"></i></a></li><span>  Instagram</span><br>
                </ul>
            </div>

        </div> -->
        <!-- end social media badges -->




        </div>




        </div>
    </div>
</div>
