
    <div class="container">
        <div class="row movedown">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row resume">
            <div class="col-md-4 respage">
                <div class="">
                    <h1>Expertise</h1><br>
                </div>

                <div class="">
                    <p class="resP">
                        Achievement-oriented professional with 15+ years experience in IT leadership spanning Technical Solutions Development, Business Analysis, Project Management, User Acceptance Testing, and Requirements Analysis. Consistently identifies opportunities for advancement while implementing strategies for process improvement. Proven track record of managing complex project lifecycles while working directly with stakeholders to strive toward goal achievement. Analytical thinker defining and aligning process technologies and resources to accomplish business initiatives.
                    </p>
                    <p class="resP">
                        Proven track record of managing complex project lifecycles while working directly with stakeholders to strive toward goal achievement. Analytical thinker defining and aligning process technologies and resources to accomplish business initiatives.
                    </p>
                    <p class="resP">
                        Highly-effective communicator relaying technical information in easily understood language. Thrives in fast-paced environments providing forward-thinking and professionalism at all times.
                    </p>
                </div>
                <div class="">
                    <h2 class="skHeader">Skills</h2>
                    <left>
                        <ul class="skList">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Bootstrap</li>
                            <li>Javascript</li>
                            <li>jQuery</li>
                            <li>Microsoft SQL Server</li>
                            <li>Oracle PL/SQL</li>
                            <li>Lavastorm BRAIN-BRE SAP</li>
                            <li>Oracle SAP</li>
                            <li>Business Objects/Business Intelligence</li>
                            <li>TOAD for Oracle</li>
                            <li>Business Objects/Business Intelligence</li>
                        </ul>
                    </left>
                </div>
            </div>
            <div class="col-md-1">
                <div class="dtbox"><br><span><p class="date1"><span>April 2010 -</span><br>January 2015</p></span></div>

                <div class="dtbox2"><br><span><p class="date1"><span>May 2005 -</span><br>April 2010</p></span></div>
                <div class="dtbox3"><br><span><p class="date1"><span>April 1999 -</span><br>April 2005</p></span></div>
                <div class="dtbox4"><br><span><p class="date1"><span>February 1987 -</span><br>May 1991</p></span></div>
            </div>
            <div class="col-md-6">
                <h1 style="list-style-type:none">Experience</h1><br>
                <div class="">

                </div>
                <div class="lTech">
                    <ul>
                        <li class="resH" style="list-style-type:none">Lead Technical Analyst</li>
                        <ul>
                            <li class="resC">CenturyLink -Formerly Qwest Communications International, Inc</li>
                            <ul>
                                <li class="resP">Provided leadership as Lead Technical Analyst responsible for implementing new technology projects. Ensured CenturyLinkSAP and Qwest Accounts Payable migration was successfully accomplished by coordinating cross-functionally with project managers, financial analysts, user management, and third party vendors. Identifies business and technology needs, service expectations, and data quality by facilitating meetings with key stakeholders. Serves as project manager supervising scope development, requirements analysis, project design, QA testing, manpower scheduling, and budget preparation. In addition, consistently identifies opportunities for cost reduction and process improvements.</li>
                                <li class="resP">Consolidated key project and technical information from team for complex software migration of Legacy Qwest Accounts Payable to CenturyLink SAP Financial systems</li>
                                <li class="resP">Spearheaded migration of Legacy CenturyLink and Savvis financial databases into Legacy Qwest invoice auditing and subledger systems</li>
                                <li class="resP">Yielded $10M annual cost savings through development of new invoice auditing system and implementation of cost control best practices </li>
                                <li class="resP">Increased overall efficiency by designing seamless automated wire transfer interface significantly eliminating manual entries and key errors </li>
                                <li class="resP">Developed solution for managing and linking circuit costs and revenues for Legacy QCC products while enabling users to report and handle margin assurance</li>
                            </ul>
                        </ul>
                    </ul>
                </div>
                <div class="lTech">
                    <ul>
                        <li class="resH" style="list-style-type:none">Lead IT Analyst</li>
                        <ul>
                            <li class="resC">CenturyLink -Formerly Qwest Communications International, Inc</li>
                            <ul>
                                <li class="resP">Served as Lead IT Analyst organizing, developing, and delivering presentations on data analysis to facilitate discussions on wire transfer and SOX approval workflows. Generated communication on alternatives and risks supporting stakeholders in effective decision-making and increased efficiency. Managed projects by defining requirements and preparing specifications for technical projects. Additionally, coded, debugged, and executed testing procedures. Promoted to Lead Technical Analyst position.</li>
                                <li class="resP">Defined client business needs, issues, strategies, and priorities while effectively delivering value-added reporting, analysis, consultations, and business solutions</li>
                                <li class="resP">Gathered requirements, designed solutions, and conducted testing for Call Maintenance Platform (CMP) application</li>
                            </ul>
                        </ul>
                    </ul>
                </div>
                <div class="lTech">
                    <ul>
                        <li class="resH" style="list-style-type:none">Sr It/System Analyst</li>
                        <ul>
                            <li class="resC">CenturyLink -Formerly Qwest Communications International, Inc</li>
                            <ul>
                                <li class="resP">Ensured data accuracy and administered Facility Cost application and interfaces with Qwest and Qwest IT as Sr. IT/System Analyst. Supervised daily operations, managed user groups, monitored CABS, SECABS, and Elevon/Walker Mechanized Input Processing. Performed systems, data and applications analysis, workflow design, and programming producing innovation solutions.</li>
                                <li class="resP">Provided Qwest business segments with technical expertise in developing complex projects</li>
                                <li class="resP">Collected and distributed scheduled and adhoc reports for Facility Cost users, account groups, and corporate departments as necessary</li>
                            </ul>
                        </ul>
                    </ul>
                </div>
                <h1>Education</h1>
                <ul>
                    <li class="resH" style="list-style-type:none">Metropolitan State College of Denver</li>
                    <ul>
                        <li class="resC">Bachelor of Arts in Communications </li>
                        <li class="resC">Bachelor of Arts African & European History </li>
                        <ul>
                            <li class="resP">Completed History Minor, University of London Birbeck College</li>
                            <ul>
                                <li class="resP">Major GPA 3.7</li>
                                <li class="resP">Minor GPA 3.5</li>
                            </ul>
                        </ul>
                    </ul>
                </ul><br>

            </div>

        </div>
        <div class="row">
            <div class="col-md-11">

            </div>
            <div class="col-md-1">
                <span id= "mag" style = "visibility: hidden; position: fixed; height: 40vh; bottom: 30vh; right: 0"><a href="contact.html"><img src="hireme.png" height="200" alt="" /></a></span>

            </div>
        </div>


    </div>
    <!-- end container -->
